---
- name: Make sure the {{ container_name }} container is created and running
  docker_container:
    name: "{{ container_name }}"
    image: lscr.io/linuxserver/unifi-controller:latest
    pull: yes
    network_mode: host
    state: 'started'
    env:
      "PUID": "{{ guid }}"
      "PGID": "{{ guid }}"
      "TZ": "{{ timezone }}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ docker_dir }}/{{ container_name }}:/config"
    log_driver: json-file
    log_options:
      max-size: "10m"
      max-file: "5"
    restart_policy: always
