---
- name: Download restic
  get_url:
    url: "https://github.com/restic/restic/releases/download/v{{ restic_version }}/restic_{{ restic_version }}_linux_amd64.bz2"
    dest: "/tmp/restic.bz2"
    mode: '0644'

# - name: Ensure restic is installed on macOS
#   community.general.homebrew:
#     name: restic
#     state: present
#   when: ansible_os_family == "Darwin"

- name: Extract restic (bunzip2 + rename)
  become: true
  shell: |
    bunzip2 -c /tmp/restic.bz2 > /usr/local/bin/restic
    chmod +x /usr/local/bin/restic
  args:
    creates: "/usr/local/bin/restic"

- name: make sure bin is in PATH
  ansible.builtin.lineinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    line: 'export PATH=$PATH:$HOME/bin'
    regexp: '^export PATH=.*\$HOME/bin'
    state: present

- name: Verify restic
  shell: restic version
  register: restic_version_check
  changed_when: false

- name: Cleanup temp file
  file:
    path: "/tmp/restic.bz2"
    state: absent
