---
- name: Add netdata directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{ container_name }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755
    state: directory

- name: Add netdataconfig directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{ container_name }}/netdataconfig"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755
    state: directory

- name: Add netdatalib directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{ container_name }}/netdatalib"
    # owner: "{{ username }}"
    # group: "{{ username }}"
    mode: 0755
    state: directory

- name: Add netdatacache directory
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{ container_name }}/netdatacache"
    # owner: "{{ username }}"
    # group: "{{ username }}"
    mode: 0755
    state: directory

- name: Make sure the {{ container_name }} container is created and running
  docker_container:
    name: "{{ container_name }}"
    image: netdata/netdata:latest
    pull: yes
    state: 'started'
    volumes:
      - "{{ docker_dir }}/{{ container_name }}/netdataconfig:/etc/netdata"
      - "{{ docker_dir }}/{{ container_name }}/netdatalib:/var/lib/netdata"
      - "{{ docker_dir }}/{{ container_name }}/netdatacache:/var/cache/netdata"
      - "/etc/passwd:/host/etc/passwd:ro"
      - "/etc/group:/host/etc/group:ro"
      - "/proc:/host/proc:ro"
      - "/sys:/host/sys:ro"
      - "/etc/os-release:/host/etc/os-release:ro"
      - "/etc/localtime:/etc/localtime:ro"
      # - "/home/igor/mnt:/mnt:ro"
      - "/home/igor/mnt/sk-1000:/mnt/sk-1000:ro"
      # - "/home/igor/mnt/wd-1000:/mnt/wd-1000:ro"
      # - "/home/igor/mnt/es-500:/mnt/es-500:ro"
    restart_policy: unless-stopped
    # ports:
    #   - "19999:19999"
    network_mode: host
    capabilities:
      - SYS_PTRACE
      - SYS_ADMIN
    env:
      NETDATA_CLAIM_TOKEN: "{{ netdata_claim_token }}"
      NETDATA_CLAIM_URL: https://app.netdata.cloud
      NETDATA_CLAIM_ROOMS: "{{ netdata_claim_rooms }}"
      PUSHBULLET_ACCESS_TOKEN: "{{ pushbullet_key }}"
      PUSHBULLET_DEFAULT_EMAIL: m.igoroliveira@gmail.com
    security_opts:
      - "apparmor:unconfined"

- name: Create health_alarm_notify.conf
  ansible.builtin.template:
    src: health_alarm_notify.conf.j2
    dest: "{{ docker_dir }}/{{ container_name }}/netdataconfig/health_alarm_notify.conf"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755

- name: Send Pushbullet test notification
  shell: |
    docker exec -it netdata /usr/libexec/netdata/plugins.d/alarm-notify.sh test
  when: pushbullet_key is defined
