---
- name: Make sure the Plex container is created and running
  docker_container:
    name: "{{ container_name }}"
    image: "lscr.io/linuxserver/plex"
    pull: yes
    devices:
      - "/dev/dri:/dev/dri"
    state: 'started'
    env:
      "PUID": "{{ guid }}"
      "PGID": "{{ guid }}"
      "TZ": "{{ timezone }}"
      "VERSION": "latest"
    volumes:
      - "{{ docker_dir }}/{{ container_name }}:/config"
      - "/home/igor/mnt/sk-1000:/sk-1000"
      - "/home/igor/mnt/wd-1000:/wd-1000"
      - "/home/igor/mnt/es-500:/es-500"
      - onedrive-ipt:/onedrive-ipt:ro
    restart_policy: unless-stopped
    network_mode: host
