#------------------------------------------------------------------------------
# pushbullet (pushbullet.com) push notification options

SEND_PUSHBULLET="YES"
PUSHBULLET_ACCESS_TOKEN="{{ pushbullet_key }}"
DEFAULT_RECIPIENT_PUSHBULLET="#netdata"
